# ============================
# Python cache / compilados
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
# Ambiente virtual
# ============================
.venv/
venv/
env/
ENV/

# ============================
# Variáveis de ambiente
# ============================
.env
.envrc

# ============================
# Django
# ============================
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py

# ============================
# Testes / Coverage
# ============================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# ============================
# Build / Distribuição
# ============================
build/
dist/
*.egg-info/

# ============================
# Poetry
# ============================
poetry.lock

# ============================
# IDEs / Editores
# ============================
.vscode/
.idea/

# ============================
# Jupyter
# ============================
.ipynb_checkpoints/

# ============================
# Outros
# ============================
.mypy_cache/
.ruff_cache/
